<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include includes/snippets/meta_tags%>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- CSS Animation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

        <!-- Font Awesome CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <!-- Cookie Consent CDN -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

        <!-- CSS Files -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/responsiveness.css">
        <link rel="stylesheet" href="/css/animation.css">

        <% include includes/snippets/drift_snippet %>
            <% include includes/snippets/gtag %>

                <title>About Us - GetaJobNG</title>

</head>

<body>

    <% include includes/landing_page/mobile_nav %>

        <nav>

            <div class="site_header_two">
                <div class="site_container">

                    <% include includes/landing_page/landing_page_nav %>

                        <div class="row d-flex flex-row align-items-center justify-content-center py-5">
                            <div class="center_text pt-5 header_with_just_text">
                                <div class="site_row center_text">
                                    <h2>
                                        About Us
                                    </h2>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </nav>


        <section class="job_full_desc">
            <div class="site_row">
                <div class="site_container policy_page">
                    <section>
                        <article>
                            <p>
                                GetaJobNG is a distinctive recruitment platform dedicated to connecting recruiters to the most elite workforce and in turn allow job candidates access high quality verified job vacancies.
                            </p>

                            <p>
                                Our goal is to connect recruiters with top candidates so there is a win-win situation every time while at the same time, making the hiring experience a pleasure for both recruiters and candidates.
                            </p>
                        </article>
                    </section>

                    <section>
                        <header>
                            <h5>
                                Recruiter Dashboard
                            </h5>
                        </header>
                        <article>
                            <p>
                                Our recruiter's module and assessment features ensure that recruiters get the most qualified candidates for their vacant positions seamlessly.
                            </p>
                        </article>
                    </section>

                    <section>
                        <header>
                            <h5>
                                CV Fix Interface
                            </h5>
                        </header>
                        <article>
                            <p>
                                Our technology is also relevant to the candidate; allowing a DIY (Do-It-Yourself) CV creation or the option of hiring professionals in the industry to build powerful resumes that employers will not resist.
                            </p>
                        </article>
                    </section>

                    <section>
                        <article>
                            <p>
                                With hundreds of recruiters, thousands of candidates and countless jobs added every day, GetaJobNG is committed to transforming the workplace by finding candidates that fit each role.
                            </p>

                            <p>
                                GetaJobNG is affiliated with <b>C&I Leasing Plc</b>, Nigeria's leading business stock exchange company. Incorporated into the stock exchange in 1991, C&I Leasing had amassed over 30 years of experience in the business sector
                                and lends all of these to make Getajobng the best recruitment and job-seeking service out there.
                            </p>

                            <p>
                                <b>"Great jobs, Great Talent"</b>
                            </p>
                        </article>
                    </section>
                </div>
            </div>
        </section>

        <% include includes/landing_page/footer %>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            <script src="/js/jQuery.min.js"></script>
            <script src="/js/main.js"></script>
</body>

</html>