<% include includes/dashboard_header %>
    <% include includes/admin_nav %>
        <% include includes/dashboard_top_bar %>

            <section>
                <div class="site_row user_dashboard_header">
                    <div class="flex_row_justify_between the_job_name">
                        <div>
                            <h5>
                                Job Approvals
                            </h5>
                        </div>

                    </div>

                    <div class="flex_row_justify_between dasboard_cards">
                        <div id="total_jobs" class="d-flex flex-column justify-content-center align-items-center each_dashboard_card">
                        </div>

                        <div id="total_approved" class="d-flex flex-column justify-content-center align-items-center each_dashboard_card">
                        </div>

                        <div id="total_pending" class="d-flex flex-column justify-content-center align-items-center each_dashboard_card">
                        </div>
                    </div>

                </div>
            </section>

            <section class="">
                <div class="navigator">
                    <span class="nav--1 active"><b>Approved Jobs</b></span>
                    <span class="nav--2"><b>Pending Jobs</b></span>
                </div>
                <!-- tabs -->
                <div class="tabs">
                    <div class="tab--1 active" id="approved_jobs_page">
                        <div class="site_row create_job_table">
                            <table id="approved_jobs_table">
                                <thead>
                                    <tr>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Job Type
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Date Posted
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>

                                </thead>
                                <tbody id="approved_jobs_data"></tbody>

                            </table>
                        </div>
                    </div>

                    <div class="tab--3" id="pending_jobs_page">
                        <div class="site_row create_job_table">
                            <table id="pending_jobs_table">
                                <thead>
                                    <tr>
                                        <th>
                                            Job Title
                                        </th>
                                        <th>
                                            Job Type
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Date Posted
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>

                                </thead>
                                <tbody id="pending_jobs_data"></tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </section>

            <% include includes/global_dashboard_scripts %>

                <script>
                    $(document).ready(function() {
                        //Get all approved jobs
                        $.ajax({
                            url: '/jobs/get-all-approved-jobs',
                            type: 'get',

                            success: function(data) {
                                var content = '';
                                var approvedJobsCount = '';

                                if (!data || data.jobs.length == 0) {
                                    content = '';
                                    approvedJobsCount = '<h4 class="mb-2">0</h4><p>Approved Jobs</p>';
                                } else {
                                    for (var i = 0; i < data.jobs.length; i++) {
                                        content += '<tr> \
                                        <td> \
                                            <a href="/admin/job-detail/' + data.jobs[i].job_id + '">' +
                                            data.jobs[i].job_name +
                                            '</a> \
                                        </td> \
                                        <td>' + data.jobs[i].job_type_name + '</td> \
                                        <td>' + data.jobs[i].company_name + '</td> \
                                        <td>' + data.jobs[i].date_time_ago + '</td> \
                                        <td> \
                                            <a href="/admin/job-detail/' + data.jobs[i].job_id + '"> \
                                                <i style="color:#00ff00" class="far fa-eye"></i> \
                                            </a> \
                                            <a href="/admin/edit-job/' + data.jobs[i].job_id + '"> \
                                                <i style="color:#0000ff" class="far fa-edit"></i> \
                                            </a> \
                                            <a id="delete_job_link" title="Delete Job Post" href="#" onclick="deleteJobPost(' + data.jobs[i].job_id + ');return false;"> \
                                                <i style="color:#ff0000" class="far fa-trash-alt"></i> \
                                            </a> \
                                        </td> \
                                    </tr>';

                                    }

                                    approvedJobsCount = '<h4 class="mb-2">' + data.jobs.length + '</h4><p>Approved Jobs</p>';
                                }

                                $('#total_approved').html(approvedJobsCount);
                                $('#approved_jobs_data').html(content);

                                $("#approved_jobs_table").DataTable({
                                    "paging": true,
                                    "aaSorting": [],
                                    'processing': true,
                                    'language': {
                                        'loadingRecords': '&nbsp;',
                                        'processing': 'Loading...'
                                    }
                                });
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                var errorMsg = 'Load approved jobs Request failed: ' + xhr.responseText;
                                console.log(errorMsg)
                            }
                        });

                    });
                </script>

                <script>
                    $(document).ready(function() {
                        //Get all pending jobs
                        $.ajax({
                            url: '/jobs/get-all-pending-jobs',
                            type: 'get',

                            success: function(data) {
                                var content = '';
                                var pendingJobsCount = '';

                                if (!data || data.jobs.length == 0) {
                                    content = '';
                                    pendingJobsCount = '<h4 class="mb-2">0</h4><p>Pending Jobs</p>';
                                } else {
                                    for (var i = 0; i < data.jobs.length; i++) {
                                        content += '<tr> \
                        <td> \
                            <a href="/admin/job-detail/' + data.jobs[i].job_id + '">' +
                                            data.jobs[i].job_name +
                                            '</a> \
                        </td> \
                        <td>' + data.jobs[i].job_type_name + '</td> \
                        <td>' + data.jobs[i].company_name + '</td> \
                        <td>' + data.jobs[i].date_time_ago + '</td> \
                        <td> \
                            <a href="/admin/job-detail/' + data.jobs[i].job_id + '"> \
                                <i style="color:#00ff00" class="far fa-eye"></i> \
                            </a> \
                            <a href="/admin/edit-job/' + data.jobs[i].job_id + '"> \
                                <i style="color:#0000ff" class="far fa-edit"></i> \
                            </a> \
                            <a id="delete_job_link" title="Delete Job Post" href="#" onclick="deleteJobPost(' + data.jobs[i].job_id + ');return false;"> \
                                <i style="color:#ff0000" class="far fa-trash-alt"></i> \
                            </a> \
                        </td> \
                    </tr>';

                                    }

                                    pendingJobsCount = '<h4 class="mb-2">' + data.jobs.length + '</h4><p>Pending Jobs</p>';
                                }

                                $('#total_pending').html(pendingJobsCount);
                                $('#pending_jobs_data').html(content);

                                $("#pending_jobs_table").DataTable({
                                    "paging": true,
                                    "aaSorting": [],
                                    'processing': true,
                                    'language': {
                                        'loadingRecords': '&nbsp;',
                                        'processing': 'Loading...'
                                    }
                                });
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                var errorMsg = 'Load pending jobs Request failed: ' + xhr.responseText;
                                console.log(errorMsg)
                            }
                        });

                    });
                </script>

                <script>
                    $(document).ready(function() {
                        //Get all pending jobs
                        $.ajax({
                            url: '/jobs/get-count-all-jobs',
                            type: 'get',

                            success: function(data) {
                                var allJobsCount = '';

                                if (!data || !data.total_job_count) {
                                    allJobsCount = '<h4 class="mb-2">0</h4><p>Total Jobs</p>';
                                } else {

                                    allJobsCount = '<h4 class="mb-2">' + data.total_job_count + '</h4><p>Total Jobs</p>';
                                }

                                $('#total_jobs').html(allJobsCount);

                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                var errorMsg = 'Load all jobs Request failed: ' + xhr.responseText;
                                console.log(errorMsg)
                            }
                        });

                    });
                </script>

                <% include includes/global_dashboard_bottom %>