<% include includes/dashboard_header %>
    <% include includes/candidate_nav %>
        <% include includes/dashboard_top_bar %>

            <!--html codes go here-->

            <section class="section-cv-fix">
                <div class="site_row">
                    <h5 class="header-text__primary">Turbo Charge Your Job Search</h5>
                    <p class="header-text__primary--sub">
                        Pick one of our Professional CV Writing service bundle offers to get started!
                    </p>
                </div>

                <div class="site_row cv-package-cards__wrapper">
                    <div class="cv-package-cards">
                        <div class="top">
                            <div class="cv-package__name">
                                <h5>Self Service</h5>
                                <p>Generate your CV using our template</p>
                            </div>

                            <div class="cv-package__price">
                                <h5><span class="cv-package__price--currency">₦</span> 1,000.00</h5>
                            </div>

                            <div class="cv-package-buy-button__wrapper">
                                <a href="#" class="cv-package-buy-button" onclick="processSelfService(4)"> Choose plan </a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="cv-package-list">
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Create your CV/Resume in seconds</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-package-cards">
                        <div class="top">
                            <div class="cv-package__name">
                                <h5>Entry Level</h5>
                                <p>(0 - 2 Years Experience)</p>
                            </div>

                            <div class="cv-package__price">
                                <h5><span class="cv-package__price--currency">₦</span> 2,000.00</h5>
                            </div>

                            <div class="cv-package-buy-button__wrapper">
                                <a href="#" class="cv-package-buy-button" onclick="processCVFix(1)"> Choose plan </a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="cv-package-list">
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Professional assistance with cv in line with preferred organization.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-package-cards">
                        <div class="top">
                            <div class="cv-package__name">
                                <h5>Junior Level</h5>
                                <p>(3 - 5 Years Experience)</p>
                            </div>

                            <div class="cv-package__price">
                                <h5><span class="cv-package__price--currency">₦</span> 5,000.00</h5>
                            </div>

                            <div class="cv-package-buy-button__wrapper">
                                <a href="#" class="cv-package-buy-button" onclick="processCVFix(8)"> Choose plan </a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="cv-package-list">
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Professional assistance with cv in line with preferred organization.</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Cover letter</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-package-cards">
                        <div class="top">
                            <div class="cv-package__name">
                                <h5>Mid Level</h5>
                                <p>(6 - 10 Years Experience)</p>
                            </div>

                            <div class="cv-package__price">
                                <h5><span class="cv-package__price--currency">₦</span> 10,000.00</h5>
                            </div>

                            <div class="cv-package-buy-button__wrapper">
                                <a href="#" class="cv-package-buy-button" onclick="processCVFix(2)">Choose plan</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="cv-package-list">
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Professional assistance with cv in line with preferred organization.</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Cover letter</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>ATS Scanning</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-package-cards">
                        <div class="top">
                            <div class="cv-package__name">
                                <h5>Senior Level</h5>
                                <p>(11+ Years Experience)</p>
                            </div>

                            <div class="cv-package__price">
                                <h5><span class="cv-package__price--currency">₦</span> 20,000.00</h5>
                            </div>

                            <div class="cv-package-buy-button__wrapper">
                                <a href="#" class="cv-package-buy-button" onclick="processCVFix(3)">Choose plan</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="cv-package-list">
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Professional assistance with cv in line with preferred organization.</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Cover letter</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>ATS Scanning</p>
                                </div>
                                <div class="cv-package-list__items">
                                    <i class="fas fa-check"></i>
                                    <p>Job Search</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% include includes/modals/upload_resume_modal %>

                <% include includes/global_dashboard_scripts %>

                    <!--Custom scripts go here-->
                    <script>
                        function processCVFix(payment_plan_id) {
                            $.ajax({
                                url: '/resume/check-resume',
                                type: 'post',
                                success: function(data) {
                                    if (data.resume_file_url == null || data.resume_file_url == '') {
                                        swal({
                                                title: 'CV/Resume not uploaded',
                                                text: 'Please upload a recent version of your CV/Resume so we can help you fix it.',
                                                type: 'warning',
                                                confirmButtonText: 'Continue',
                                            },
                                            function(isConfirm) {
                                                if (isConfirm) {
                                                    window.location.replace('/candidates/profile');
                                                }
                                            });
                                    } else {
                                        processPayment(payment_plan_id);
                                    }
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    var errorMsg = 'Check if Resume Request failed: ' + xhr.responseText;
                                    console.log(errorMsg)
                                }
                            });
                        }

                        function processSelfService(payment_plan_id) {
                            swal({
                                    title: 'Processing...',
                                    text: 'Re-directing you the CV preview page. Please wait',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    timer: 2000,
                                    showConfirmButton: false,
                                    showCancelButton: false,
                                    onOpen: () => {
                                        swal.showLoading();
                                    }
                                },
                                function() {
                                    window.location.replace('/candidates/cv-preview');
                                }

                            )
                        }

                        function processPayment(payment_plan_id) {
                            swal({
                                    title: 'Processing...',
                                    text: 'Re-directing you to a secured payment gateway. Please wait',
                                    allowEscapeKey: false,
                                    allowOutsideClick: false,
                                    timer: 3500,
                                    showConfirmButton: false,
                                    showCancelButton: false,
                                    onOpen: () => {
                                        swal.showLoading();
                                    }
                                },
                                function() {
                                    $.ajax({
                                        url: '/payments/make-payment',
                                        type: 'post',
                                        data: {
                                            payment_plan_id: payment_plan_id
                                        },
                                        success: function(data) {
                                            if (data.result.status == true) {
                                                window.location.replace(data.result.data.authorization_url);
                                            } else {
                                                swal({
                                                    title: 'An error occured',
                                                    text: 'An error occurred processing payment. You were not debited. Please try again.',
                                                    type: 'warning',
                                                    confirmButtonText: 'Close',
                                                });
                                            }
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            var errorMsg = 'Process Payment failed: ' + xhr.responseText;
                                            console.log(errorMsg)
                                        }
                                    });
                                }

                            )
                        }
                    </script>

                    <% include includes/global_dashboard_bottom %>