<% include includes/dashboard_header %>
    <% include includes/candidate_nav %>
        <%
include includes/dashboard_top_bar %>

            <!--html codes go here-->

            <section class="section-cv-payment">
                <div class="site_row grid-center">
                    <div class="success-wrapper">
                        <img src="/images/acctSuccess.png" alt="" class="cv-payment-success__icon" />
                        <h5 class="heading-pay">Payment Successful</h5>
                        <p>Thank you for making payment, Your CV Fix request was successful and processing is underway.</p>
                        <p>The <b>GetaJobNG</b> team will get back to you shortly.</p>

                    </div>
                </div>
            </section>

            <% include includes/global_dashboard_scripts %>

                <!--Custom scripts go here-->

                <% include includes/global_dashboard_bottom %>