<div class="contact">

    <div class="entry row">
        <div id="tagline_box"></div>
    </div>

    <div class="entry row">
        <div id="phone_number_box"></div>
    </div>

    <div class="entry row">
        <div id="email_box"></div>
    </div>

    <div class="entry row">
        <div id="address_box"></div>
    </div>

    <div class="entry row">
        <div id="country_box"></div>
    </div>

    <div class="entry row">
        <div id="summary_box"></div>
    </div>
</div>